/* 
 * Description:
 *
 * Status:
 */
#templateElementIDStyle
{
    /*Size & Position*/
    
    /*Colors & Effects*/
    
    /*Font*/    
}

/* 
 * Description:
 *
 * Status:
 */
.templateClassStyle
{
    /*Size & Position*/
    
    /*Colors & Effects*/
    
    /*Font*/    
}


#tabSetStyle
{
        position: fixed;
        z-index:1;
        left: 2%;
        top: 4%;
        background: lightblue;
        right: 2%;
        height: 8%;
        border-top-left-radius:2em;
        border-top-right-radius:2em;
        border-bottom-right-radius:2em;
        box-shadow:7px -7px 10px gray;
        opacity: 0.97;
}


/* 
 * Description:
 *
 * Status:
 */
#fishBodyReaderInputBlock 
{ 
    /*Size & Position*/
    display: block;
    position: fixed;
    top: 12%;
    bottom: 3%;
    left: 2%;
    width: 20%;
    /*Colors & Effects*/
    background: linear-gradient(lightblue, darkslateblue); /* Standard syntax */
    transition: color 1.5s;
    transition: background 1.5s;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    box-shadow:7px 0px 20px gray;
    /*Font*/
    font-family: sans-serif;
}

/* 
 * Description:
 *
 * Status:
 */
#fishBodyReaderChartBlock
{
    /*Size & Position*/
    position: absolute;
    left: 18%;
    right: 2%;
    top: 1%;
    height: 200%;    
}

/* 
 * Description:
 *
 * Status:
 */
#noaaLogo
{
    /*Size & Position*/
    position: fixed;
    z-index: 2;
    top: 8%;
    left: 8.2%;
    width: 8%;
    height: 16%;
}

/* 
 * Description:
 *
 * Status:
 */
#noaaLogoShadow
{ 
    /*Size & Position*/
   position: fixed;
   z-index: 1;
   top: 8%;
   left: 8.21%;
   width: 8%;
   height: 16%;
    /*Colors & Effects*/
   background: white; 
   box-shadow: 7px -3px 15px black;
   border-radius: 100%;
}

/* 
 * Description:
 *
 * Status:
 */
.input:hover
{
    /*Colors & Effects*/
    background: grey;
    color: white;
    box-shadow:0px 0px 100px lightblue;
}

.input
{
    /*Size & Position*/
    width: 7%;
    height: 3%;    
    /*Colors & Effects*/
    transition: color 0.35s;
    transition: background 0.35s;
    box-shadow:0px 0px 10px black;
    /*Font*/
    font-size: 1em;
    transition: color 0.35s;
    transition: background 0.35s;
    box-shadow:0px 0px 10px black;
}

#digitalFishLengthLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 26.5%;
    left: 4%; 
}


/* 
 * Description:
 *
 * Status:
 */
#digital_fish_length
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  29%;
}

#scaledFishLengthLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 33.5%;
    left: 4%; 
}

/* 
 * Description:
 *
 * Status:
 */
#scaled_fish_length
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  36%;
}

#angleLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 43.5%;
    left: 4%; 
}

/* 
 * Description:
 *
 * Status:
 */
#angle
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  46%;  
}

#minimumOrderLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 26.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#minimum_order
{
    /*Size & Position*/
    position: fixed;
    top: 29%;
    left: 13%; 
}

#maximumOrderLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 33.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#maximum_order
{
    /*Size & Position*/
    position: fixed;
    top: 36%;
    left: 13%;
}

/* 
 * Description:
 *
 * Status:
 */
#minimumFrequencyLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 50.5%;
    left: 4%; 
}

/* 
 * Description:
 *
 * Status:
 */
#minimum_frequency
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  53%;  
}

/* 
 * Description:
 *
 * Status:
 */
#maximumFrequencyLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 50.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#maximum_frequency
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  53%;  
}

/* 
 * Description:
 *
 * Status:
 */
#stepSizeLabel
{
    /*Size & Position*/
    position: fixed;
    top: 43.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#frequency_increment_size
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  46%;  
}

/* 
 * Description:
 *
 * Status:
 */
#waterSoundVelocityLabel
{
    /*Size & Position*/
    position: fixed;
    top: 60.5%;
    left: 4%; 
}

/* 
 * Description:
 *
 * Status:
 */
#cwater
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  63%;  
}

/* 
 * Description:
 *
 * Status:
 */
#waterDensityLabel
{
    /*Size & Position*/
    position: fixed;
    top: 60.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#rhow
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  63%;  
}

/* 
 * Description:
 *
 * Status:
 */
#swimBladderSoundVelocityLabel
{
    /*Size & Position*/
    position: fixed;
    top: 67.5%;
    left: 4%; 
}

/* 
 * Description:
 *
 * Status:
 */
#csb
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  70%;
}

/* 
 * Description:
 *
 * Status:
 */
#swimBladderDensityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 67.5%;
    left: 13%; 
}

/* 
 * Description:
 *
 * Status:
 */
#rhosb
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  70%;
}

/* 
 * Description:
 *
 * Status:
 */
#fishBodySoundVelocityLabel
{
    /*Size & Position*/
    position: fixed;
    top:  74.5%;
    left: 4%;
}

/* 
 * Description:
 *
 * Status:
 */
#cfb
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  77%;
}


/* 
 * Description:
 *
 * Status:
 */
#fishBodyDensityLabel
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  74.5%;
}

/* 
 * Description:
 *
 * Status:
 */
#rhofb
{
    /*Size & Position*/
    position: fixed;
    left: 13%;
    top:  77%;
}

/* 
 * Description:
 *
 * Status:
 */
#fileChooser
{
    /*Size & Position*/
    position: fixed;
    top: 9%;
    left: 5%;
}

/* 
 * Description:
 *
 * Status:
 */
#downloadCSVFile
{
    /*Size & Position*/
    position: fixed;
    color: white;
    top: 85%;
    left: 5%;
    width: 14.3%;   
    /*Colors & Effects*/
    transition-duration: 0.5s;
    border-radius: 0.5em;
    height: 2.5%;
                
}

/* 
 * Description:
 *
 * Status:
 */
#chartSetSpacer
{
    /*Size & Position*/
    display: block;
    height: 40px;
}

/* 
 * Description:
 *
 * Status:
 */
.chartClass
{
    /*Size & Position*/
    position: relative;
    height: 47%;
    width: 92.5%;
    left: 6.7%;
}

/* 
 * Description:
 *
 * Status:
 */
#title
{
    /*Size & Position*/
    position: fixed;
    top: 6.5%;
    left: 22%;
    z-index: 2;
    /*Font*/
    font-size: 1.2em;
    font-family: sans-serif;
}

/* 
 * Description:
 *
 * Status:
 */
#toolSelector
{
    /*Size & Position*/
    position: fixed;
    width: 20%;
    height: 4%;
    top: 6%;
    right: 5%;
    z-index: 2
}

#downloadSolution
{
    /*Size & Position*/
    position: fixed;
    top: 91%;
    left: 3.9%;
    width: 16.1%;
    height: 3.5%;
    
}

/* 
 * Description:
 *
 * Status:
 */
#fileInputLabel
{
    /*Size & Position*/
    position: fixed;
    top: 82.5%;
    left: 3.9%;
}

/* 
 * Description:
 *
 * Status:
 */
#fileInput
{
    /*Size & Position*/
    position: fixed;
    top: 85%;
    left: 3.75%;
}

.label
{
    font-size: 0.77em;
}
