#templateElementIDStyle
{
    /*Size & Position*/
    
    /*Colors & Effects*/
    
    /*Font*/    
}

.templateClassStyle
{
    /*Size & Position*/
    
    /*Colors & Effects*/
    
    /*Font*/    
}

#tabSetStyle
{
        list-style-type:none;
        margin:0;
        padding:0;
        position: fixed;
        z-index:1;
        left: 2%;
        top: 4%;
        background: lightblue;
        right: 2%;
        height: 8%;
        border-top-left-radius:2em;
        border-top-right-radius:2em;
        border-bottom-right-radius:2em;
        box-shadow:7px -7px 10px gray;
        opacity: 0.97;
}


#AcousticScatteringFromAFluidSphereInputBlock
{ 
    /*Size & Position*/
    display: block;
    position: fixed;
    top: 12%;
    bottom: 3%;
    left: 2%;
    width: 20%;
    /*Colors & Effects*/
    background: linear-gradient(lightblue, #0066ff);
    transition: color 1.5s;
    transition: background 1.5s;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    box-shadow:7px 0px 20px gray;
    /*Font*/
    font-family: sans-serif;
}

.input:hover
{
    /*Colors & Effects*/
    background: grey;
    color: white;
    box-shadow:0px 0px 100px lightblue;
}

.input
{
    /*Size & Position*/
    width: 7%;
    height: 3%;    
    /*Colors & Effects*/
    transition: color 0.35s;
    transition: background 0.35s;
    box-shadow:0px 0px 10px black;
    /*Font*/
    font-size: 0.8em;
    transition: color 0.35s;
    transition: background 0.35s;
    box-shadow:0px 0px 10px black;
    font-family: sans-serif;
}

.label
{
    
    font-size: 0.77em;
}

/* 
 * Description:
 *
 * Status:
 */
#noaaLogo
{
    /*Size & Position*/
    position: fixed;
    z-index: 2;
    top: 8%;
    left: 8.2%;
    width: 8%;
    height: 16%;
}

/* 
 * Description:
 *
 * Status:
 */
#noaaLogoShadow
{ 
    /*Size & Position*/
   position: fixed;
   z-index: 1;
   top: 8%;
   left: 8.21%;
   width: 8%;
   height: 16%;
    /*Colors & Effects*/
   background: white; 
   box-shadow: 7px -3px 15px black;
   border-radius: 100%;
}

#temperatureLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 26.5%;
    left: 4%; 
}

#temperature
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  29%;
}

#salinityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 33.5%;
    left: 4%; 
}

#salinity
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  36%;
}

#depthLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 40.5%;
    left: 4%; 
}

#depth
{
    /*Size & Position*/
    position: fixed;
    left: 4%;
    top:  43%;  
}

#waterDensityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 26.5%;
    left: 13%; 
}

#waterDensity
{
    
    /*Size & Position*/
    position: fixed;
    top: 29%;
    left: 13%; 
}

#waterWaveVelocityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 33.5%;
    left: 13%; 
}

#waterWaveVelocity
{
    /*Size & Position*/
    position: fixed;
    top: 36%;
    left: 13%;
}

#acousticScatteringForAFluidSphereChartBlock
{
    /*Size & Position*/
    position: fixed;
    left: 23%;
    right: 4%;
    top: 14%;
    height: 100%;
}

#acousticScatteringForAFluidSphereChart
{
    /*Size & Position*/
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#sphereCompositionLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 50.5%;
    left: 4%; 
}

#sphereCompositionSelector
{
    /*Size & Position*/
    position: fixed;
    top: 53%;
    left: 4%;
}


#sphereDensityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 57.5%;
    left: 4%; 
}

#sphereDensity
{
    /*Size & Position*/
    position: fixed;
    top: 60%;
    left: 4%; 
}

#sphereWaveVelocityLabel
{
    /*Size & Position*/
    position: fixed;
    width: 14.35%;
    height: 5%;
    top: 64.5%;
    left: 4%; 
}

#sphereWaveVelocity
{
    /*Size & Position*/
    position: fixed;
    top: 67%;
    left: 4%;
}

#sphereRadiusLabel
{
    /*Size & Position*/
    position: fixed;
    top: 50.5%;
    left: 13%; 
}

#sphereRadius
{
    /*Size & Position*/
    position: fixed;
    top: 53%;
    left: 13%;
}

#gFactorLabel
{
    /*Size & Position*/
    position: fixed;
    width: 4%;
    height: 3%;
    top: 57.5%;
    left: 13%; 
}

#gFactor
{
    /*Size & Position*/
    position: fixed;
    top: 60%;
    left: 13%; 
}

#hFactorLabel
{
    /*Size & Position*/
    position: fixed;
    top: 64.5%;
    left: 13%; 
}

#hFactor
{
    /*Size & Position*/
    position: fixed;
    top: 67%;
    left: 13%; 
}

#lowerBoundLabel
{
    /*Size & Position*/
    position: fixed;
    width: 15%;
    top: 74.5%;
    left: 4%;
}

#lowerBoundInput
{
    /*Size & Position*/
    position: fixed;
    top: 77%;
    left: 4%;
}

#upperBoundLabel
{
    /*Size & Position*/
    position: fixed;
    top: 74.5%;
    left: 13%;
}

#upperBoundInput
{
    /*Size & Position*/
    position: fixed;
    top: 77%;
    left: 13%;
}

#incrementLabel
{
    /*Size & Position*/
    position: fixed;
    top: 81.5%;
    left: 4%;
}

#incrementInput
{
    /*Size & Position*/
    position: fixed;
    top: 84%;
    left: 4%;
    
}

#plotSolutionButton
{
    /*Size & Position*/
    position: fixed;
    top: 84%;
    width: 7.2%;
    height: 3.5%;
    left: 13%;
}

#downloadSolution
{
    /*Size & Position*/
    position: fixed;
    top: 91%;
    left: 3.9%;
    width: 16.1%;
    height: 3.5%;
    
}

#systemLog
{
    /*Size & Position*/
    position: fixed;
    width: 34%;
    height: 5%;
    top: 90%;
    left: 33%;
    font-size: 1.5em;
}

#systemLogLabel
{
    /*Size & Position*/
    position: fixed;
    width: 30%;
    height: 5%;
    top: 87%;
    left: 33%;
}

#title
{
    /*Size & Position*/
    position: fixed;
    top: 6%;
    left: 22%;
    z-index: 2;
    /*Font*/
    font-size: 1.6em;
    font-family: sans-serif;
}

#toolSelector
{
    
    /*Size & Position*/
    position: fixed;
    width: 20%;
    height: 4%;
    top: 6%;
    right: 5%;
    z-index: 2;
}

